AuthUserFile /dev/null
AuthGroupFile /dev/null

#AddHandler php-cgi .php
#Action php-cgi /cgi-bin/phpinit.cgi

#php_value include_path "/home/alluminati/alluminati.org/include"
#php_flag register_globals false
#php_flag register_argc_argv false

#php_value session.cookie_domain .www.alluminati.org
#php_flag session.use_only_cookies on
#php_flag session.use_trans_sid off

php_value error_log /home/alluminati/alluminati.org/errorlog.html
php_flag log_errors on

#php_value session.name alluminati_session

#ErrorDocument 404 /error.php
#ErrorDocument 500 /error.php

<IfModule mod_rewrite.c>

RewriteEngine on
RewriteCond %{SERVER_PROTOCOL} .*HTTP.*
RewriteRule (.*)index.html(.*) /index.php

# phpmyadmin redirect
RewriteRule ^a/.*$ http://db.alluminati.org [L,QSA]

# wiki related redirects
RewriteRule ^wiki$ /wik/index.php [L,QSA]
RewriteRule ^wiki/(.*)$ /wik/index.php?title=$1 [L,QSA]
#RewriteRule ^wiki/index.php$ wik/index.php [L,QSA]
#RewriteRule ^wiki/([^\/]+)$ wik/index.php/$1 [L]
#RewriteRule ^wiki/(.*)$ /wx/index.php?title=$1 [L,QSA]

# BEGIN Wordpress
RewriteBase /
RewriteRule ^index\.php% - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
# End Wordpress

</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
